.env
.venv/
.vscode/
.pytest_cache/
__pycache__/
*.pyc
*.log
.DS_Store
work/
tests/
examples/
README.md
requirements-dev.txt
example_client.py
.git/
.github/
.gitattributes
frontend/
snake.gif
tetris.gif
